<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/">Werewolf</a>
      <section style="font-size: 22px;letter-spacing: 2px;">- Waiting for players.. -</section>
    </header>
    <main id="home">
      <div id="lobbybox">
        <div id="lobbytopheader">
          Lobby code: <span style="font-weight: bold">hello</span>
        </div>
        <div class="player">
          <div class="usericon"></div>
          <div class="username">Player 1</div>
          <a href="#"><div class="kick">x</div></a>
        </div>
        <div class="player">
          <div class="usericon"></div>
          <div class="username">Player 2</div>
          <a href="#"><div class="kick">x</div></a>
        </div>
        <div class="player">
          <div class="usericon"></div>
          <div class="username">Player 3</div>
          <a href="#"><div class="kick">x</div></a>
        </div>
        <div class="player">
          <div class="usericon"></div>
          <div class="username">Player 4</div>
          <a href="#"><div class="kick">x</div></a>
        </div>
        <div class="player">
          <div class="spinner"></div>
          <div class="username" style="font-weight: 100;text-indent: 52px;">Accepting new players</div>
        </div>
        <div class="player">
          <div class="usericon"></div>
          <div class="username"<label><input type="checkbox" name="checkbox" value="value">Text</label>/div>
          <a href="#"><div class="kick">x</div></a>
        </div>

        
        
        <a href="#">
          <div id="startbtn">
            - Start Game -
          </div>
        </a>
      </div>
    </main>
    <p style="text-align: center;margin: 50px auto;font-size:28px;font-weight: bold;letter-spacing:-1px;">Welcome to Werewolf - Created @BullHacks 2017</p>
  </body>
</html>
