body {
  background: url('../images/background.png')  no-repeat center center fixed;
  font: 22px 'Goudy Old Style', 'Helvetica', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

header{
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 96px;
  letter-spacing: -6px;
}

main{
  margin: 0 auto;
}

main#home{
  width: 520px;
}

#joinlobby{
  color: #3f3e3e;
  padding: 15px;
  width: 410px;
  font-size: 42px;
  font-weight: bold;
  height: 50px;
  background-color: white;
  float: left;
}

#joinlobby input[type="text"]{
  color: #3f3e3e;
  font-weight: bold;
  border: 0;
  outline: none;
  font: 42px 'Goudy Old Style', 'Helvetica', sans-serif;
}

#gobutton{
  width: 46px;
  height: 46px;
  padding: 15px;
  float: left;
  background-color: #3f3e3e;
  line-height: 50px;
  font-size: 52px;
  color: white;
  border: 2px solid #fff;
}

#lobbybox{
  width: 520px;
  min-height: 300px;
  background-color: #fff;
}

#lobbytopheader{
  width: 490px;
  padding: 15px;
  height: 45px;
  text-align: center;
  font-size: 36px;
  background-color: #424242;
}

.player{
  width: 520px;
  height: 60px;
  border-bottom: 2px solid #3f3e3e;
}

.usericon{
  width: 60px;
  height: 60px;
  background-image: url('../images/audience.svg');
  float: left;
}

.spinner{
  width: 52px;
  margin: 4px 0px 0px 6px;
  height: 52px;
  background-image: url('../images/spinner.svg');
  background-repeat: none;
  float: left;
}

.username{
  float: left;
  font-weight: bold;
  width: 400px;
  height: 60px;
  font-size: 32px;
  color: #262626;
  line-height: 58px;
  text-indent: 10px;
}

.kick{
  float: left;
  width: 60px;
  background-color: #c50909;
  font-size: 66px;
  line-height: 42px;
  text-align: center;
  height: 60px;
}

a .kick{
  color: #fff;
}

#createlobby{
  margin-top: 25px;
  width: 490px;
  height: 50px;
  padding: 15px;
  background-color: #3f3e3e;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

a #createlobby{
  color: #fff;
  text-decoration: none;
}

#startbtn{
  margin-top: 50px;
  width: 490px;
  height: 40px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  padding: 15px;
  background-color: #07a903;
}

.clear{
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
}
